<div id="editorcentrall">
<!------------------------------------------>
<label for="nombre" style="color: rgb(24, 58, 227);">nombre</label>

<input type="text" autofocus name="nombre" value="<%=modelo.nombre%>"/>

<!------------------------------------------>

<label for="codigo" style="color: rgb(24, 58, 227);">codigo</label>

<input name="codigo" type="number" value="<%= modelo.codigo%>"/>

<!--------------------------------------------->

<label for="precio" style="color: rgb(24, 58, 227);">precio</label>
<input type="number" name="precio" value="<%= modelo.precio %>">

<!----------------------------------------------------->
<label for="descripcion" style="color: rgb(24, 58, 227);">descripcion</label>
<input type="text" name="descripcion" value="<%= modelo.descripcion %>">

<!----------------------------------------------------->
<label for="calidad" style="color: rgb(24, 58, 227);">calidad</label>
<input type="text" name="calidad" value="<%= modelo.calidad %>">
<!----------------------------------------------------->
<label for="cantidad" style="color: rgb(24, 58, 227);">Cantidad</label>
<input type="number" name="cantidad" value="<%= modelo.cantidad %>">
<!----------------------------------------------------->
<label for='categoria' style="color: rgb(24, 58, 227);">Categoria</label>
<select id='categoria' name='categoria' required>
    <option value="1">Apple Watch series 9</option>
    <option value="2">Fitbit Versa</option>

</select>
<!----------------------------------------------------->
</div>
